<div class="row">
    <div class="col-lg-6">

    </div>

    <div class="col-lg-6">
        <clr-datagrid >
            <clr-dg-column>Ресурс</clr-dg-column>
            <clr-dg-column>Сфера</clr-dg-column>
            <clr-dg-column>Событие</clr-dg-column>
            <clr-dg-column>Дата события</clr-dg-column>
            <clr-dg-column>Комментарий</clr-dg-column>

            <clr-dg-row *clrDgItems="let event of allEventView">
                <clr-dg-cell>{{event.resourceName}}</clr-dg-cell>
                <clr-dg-cell>{{event.contributionName}}</clr-dg-cell>
                <clr-dg-cell>{{event.name}}</clr-dg-cell>
                <clr-dg-cell>{{event.eventDate | date}}</clr-dg-cell>
                <clr-dg-cell>{{event.comment}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{allEventView.length}} events</clr-dg-footer>
        </clr-datagrid>
    </div>
</div>

